{% extends "tests/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div>
	Hello,
	{% if user.is_authenticated %}
		{{ user.first_name }}
	{% else %}
		Guest
	{% endif %}!<br>
	{% if user.is_authenticated %}
		<a href="{% url logout %}">logout</a>
	{% else %}
		<a href="{% url login %}">login</a>
	{% endif %}
</div>

	<h3>{{ title }}</h3>
	<div><a style="float: right;" href="{% url create %}">+create</a></div>
	<div>
		<ul>
			{% for i in tests %}
				<li><a href="{% url view i.id %}"><strong>{{ i.name }}</strong> by <i>{{ i.author }}</i></a></li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}