{% extends "tests/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
	<h2 class="art-postheader">{{ title }}</h2>
	
	<div class="art-vmenublockheader" style="float: right;">
       <div class="l"></div>
       <div class="r"></div>
       <h3 class="t"><a href="{% url create %}">+create</a></h3>
    </div>
	<div>
		<ul>
			{% for i in tests %}
				<li><a href="{% url view i.id %}"><strong>{{ i.name }}</strong> by <i>{{ i.author }}</i></a></li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}